@using CursoOnline.Dominio.Cursos
@using CursoOnline.Web.Util
@model CursoOnline.Web.Util.PaginatedList<CursoParaListagem>
@{
    ViewData["Title"] = "Cursos";
}

<div id="pad-wrapper">
    <div class="row">
        <div class="col-md-12">
            <a href="/Cursos" class="btn">Voltar</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="/Curso/Novo" class="btn btn-primary">Voltar</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Carga Horária</th>
                        <th>Publico Alvo</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Nome</td>
                            <td>@item.CargaHoraria</td>
                            <td>@item.PublicoAlvo</td>
                            <td>@item.Valor</td>
                            <td>
                                <a href="/Curso/Editar/@item.Id" class="btn">Editar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }

            <a asp-action="Index" 
                asp-route-page="@(Model.PageIndex - 1)"
                class="btn btn-default @prevDisabled">
                Anterior
            </a>

            <a asp-action="Index" 
                asp-route-page="@(Model.PageIndex + 1)"
                class="btn btn-default @nextDisabled">
                Anterior
            </a>
        </div>
    </div>

</div>